.App {
  text-align: center;
}
.card{
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.heading {
  margin: 15px;
  font-size: 30px;
}
form{
  margin: 10px;
}
.form-input{
  padding:5px;
  margin: 2px;
}
.currentTemp{
  font-size: 30px;
  text-align: center;
  
}
.info{
  font-size: 15px;
  text-align: center;
  line-height: 15px;
  padding: 2px;
}
.footer{
  font-size: 14px;
}
